/* body */
body {
    background-color: aliceblue;
}

/* body calculator */
#bodyCalculator {
    background-color: white;
    height: 500px;
    width: 400px;
}


/* section output */
#sectionOutput {
    height: 70px;
}